.UserList {
    margin-top: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
    color:rgb(40, 9, 99);
    border:none;
    border-radius:10px;
    padding:10px;
    font-family:prato;
    text-align:center;
  
  }
  
  .UserList ul li {
    cursor:pointer;
  }
  
  .UserList ul li:hover {
    background-color: #f0f0f0;
  }
  li{
    color:rgb(6, 46, 46);
    font-size:20px;
    font-weight:bold;
  }
  .user-list-con{
    margin:10px;
    background-color:rgb(174, 204, 118);
    background-image:url("https://img.freepik.com/free-vector/cute-background-vector-doodle-emoji-with-heart-sign_53876-116845.jpg");
    background-size:cover;
    padding:20px;
    border-radius:20px;
    font-family:prato;

  }